@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Micro+5&display=swap');
root{
    --green:#06d213;
    --btn-outline-border:2px solid #06d213;
    --bg-left-slide:#fff;
    --bg-right:#1f1f1f;
    --elite-family:Micro;
    --family-html-font:Lalezar;
}

a{
    color: black;
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 600;
    overflow: hidden;
}

header ul {
    display: flex;
    gap: 2em;
    z-index: 1000;
}

header ul li:nth-child(1){
    font-size: 30px;
    border-bottom: 3px solid black;
    margin-top: -1%;
}

header ul li a{
    font-family:'micro 5';
}

.bg-for-image{
    width: 55%;
    height: 150vh;
    position: absolute;
    top: -30%;
    right: -10%;
    rotate: -15deg;
    box-shadow: 5px 0px 10px 5px black;
}

.btn{
    padding: 10px 15px;
    border: none;
    border-radius: .2rem;
    font-family: 'micro 5';
}

.btn-outline{
    border: 2px solid #06d213;
    background-color: transparent;
    color: #06d213;
    transition: all .3s ease;
}

.btn-outline a{
    color: #06d213;
    transition: all .2s ease , scale .5s ease-in;
}

.btn-outline:hover{
    scale: 1.1;
    background-color: #06d213;
}

.btn-outline:hover a{
    color: white;
}

.body h1{
    font-family: 'micro 5';
    font-size: 200px;
    font-weight: 500;
    text-shadow:
        1px 1px 5px white,
        -1px -1px 5px white,
        -1px 1px 5px white,
        1px -1px 5px white;

    position: absolute;
    right: 35%;
    top: -5%;
    letter-spacing: 5px;
    z-index: 999;
}

.body img{
    width: 100%;
    opacity: 1;
    bottom:-5%;
    height: auto;
    position: absolute;
    right: -27%;
    animation: updown 10s ease infinite;
}

@keyframes updown {
    0% ,100%{translate: 0 0;}
    25% , 75%{translate: -10px 0;}
}

.btn.black{
    background-color: #1f1f1f;
    color: #1f1f1f;
    transition: all .5s ease;
    border: 1px solid #1f1f1f;
}

.btn.black:hover{
    scale: 1.1;
    translate: 0px -10px;
    background-color: #474747;
}

header.header{
    margin-bottom: 20%;
}

.body p{
    font-family: Lalezar;
    letter-spacing: 1px;
    word-spacing: 3px;
} 

.body p span.green{
    color: #06d213;
}
.body p 
,.body button{
    margin-left: 10%;
}

.body button.black{
    margin-left: 1%;
}

header.header ul li{
    animation: showup 1s;
}

.body h1{
    animation: updowny 20s both infinite ,
    showup 1.5s 1s both;
}

@keyframes updowny {
    0%{transform: translateY(0px);}
    25%{transform: translateY(10px);}
    75%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}

.body p 
,.body button{
    animation:showup 1s 2s both;
}

.body img{
    animation:showup 1s ease-in .5s both;
}

@keyframes showup {
    from{
        opacity: 0;
        translate: 0px 10px;
    }
    to{
        opacity: 1;
        translate: 0px 0px;
    }
}